header, section, footer, aside, nav, article, figure {
    display: block;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
    padding: 10px;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    width: 38px;
}
.logo>img{
    width: 32px;
}
.mynav {
    position: fixed;
    top: 42px;
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: solid black 2px;
    z-index: 100;
    padding: 10px;
    box-shadow: 0px 5px 10px lightgray;
}
.col3{
    float: left;
    width: 33.334%;
    text-align: center;
}

.col33{
    width: 33.334%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2d89ef;
    border-top: solid white 1px;
    z-index: 1;
    padding: 10px;
    display: none;
}

small {
    color: gray;
}

section {
    padding: 5px;
    border: solid lightgray 1px;
    box-shadow: 0px 0px 5px lightgray;
    margin-bottom: 15px;
}

    section:hover {
        border: solid gray 1px;
    }

.sFooter {
    border-top: 1px solid lightgray;
    padding-top: 5px;
    height: 20px;
}

.button{
    display: inline-block;
    margin-left: 50px;
}

img {
    float: left;
    margin-right: 10px;
}

p {
    text-align: justify;
    font-size: small;
    margin: 5px;
    display: table;
    min-height: 40px;
}
.iconSize{
font-size: 20px;
}
.iconMargin{
margin-right: 20px;
}

#loading{
position: fixed;
top: 20%;
width: 100%;
padding-left: 50%;
background-color: lightgray;
border: solid darkgray 1px;
padding-right: 50%;
z-index: 100;
box-shadow: 0px 6px 12px lightgray;
padding: 10px;
text-align: center;
display: none;
}

.container {
    position: relative;
    top: 100px;
}

.time {
    float: right;
}

.feed {
    color: black;
    text-decoration: inherit;
}

.pullLeft {
    float: left;
}

.pullRight {
    float: right;
    text-align: right;
}

.pointCursor{
    cursor: pointer;
}

[class*="icon-"]:hover {
cursor:pointer;
}
